Language: Cpp
BasedOnStyle: Microsoft

AccessModifierOffset: -2
IndentWidth: 2
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: false
  AfterEnum: true
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  IndentBraces: true
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Mozilla
BreakBeforeConceptDeclarations: true
BreakConstructorInitializers: BeforeColon
CompactNamespaces: true
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: LogicalBlock
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentRequires: false
