BasedOnStyle: Microsoft
IndentWidth: 2
TabWidth: 2
UseTab: Never

Language: Cpp

IndentExternBlock: Indent

AlignConsecutiveAssignments: Consecutive
# AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: Empty

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterFunction: true
    AfterNamespace: false
    AfterNamespace: false
    AfterStruct: true
    AfterExternBlock: false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
NamespaceIndentation: All

PointerAlignment: Left
IndentCaseLabels: false
ColumnLimit: 0

SortIncludes: false