[submodule "Dark/vendor/spdlog"]
	path = Dark/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dark/vendor/GLFW"]
	path = Dark/vendor/GLFW
	url = https://github.com/Holy-YxY/glfw
[submodule "Dark/vendor/imgui"]
	path = Dark/vendor/imgui
	url = https://github.com/Holy-YxY/imgui
[submodule "Dark/vendor/glm"]
	path = Dark/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Dark/vendor/yaml_cpp"]
	path = Dark/vendor/yaml_cpp
	url = https://github.com/Holy-YxY/yaml-cpp
[submodule "Dark/vendor/OpenXR"]
	path = Dark/vendor/OpenXR
	url = https://github.com/KhronosGroup/OpenXR-SDK/
