[submodule "Dark/vendor/spdlog"]
	path = Dark/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dark/vendor/GLFW"]
	path = Dark/vendor/GLFW
	url = https://github.com/Holy-YxY/glfw
[submodule "Dark/vendor/imgui"]
	path = Dark/vendor/imgui
	url = https://github.com/Holy-YxY/imgui
